<mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-list>
            <mat-list-item>
                <mat-icon matListItemIcon>account_circle</mat-icon>
                <h4 matListItemTitle>usuario</h4>
                <p matListItemLine>usuario@gmail.com</p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <mat-nav-list>
            <div mat-subheader>Admin</div>
            <a mat-list-item routerLink="/admin/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                Dashboard
            </a>
            <a mat-list-item routerLink="/admin/vehicles">
                <mat-icon matListItemIcon>directions_car</mat-icon>
                Vehiculos
            </a>
            <mat-divider></mat-divider>
            <div div mat-subheader>Users</div>
            <a mat-list-item routerLink="/admin/users">
                <mat-icon matListItemIcon>group</mat-icon>
                Users
            </a>
            <a mat-list-item>
                <mat-icon matListItemIcon>logout</mat-icon>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="toggleDrawer()" type="button" aria-label="Toggle sidenav" mat-icon-button>
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Car Center</span>
        </mat-toolbar>
        <main class="main-content">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>